.App {
  background-color: #f9ede8;
}

/* Navbar */
.navbar-color {
  background: linear-gradient(to top, #f9dfd4 0%, #ace0f9 100%);
}
.navbar-brand {
  max-width: 4rem;
  margin-right: 2rem;
}

.navbar-brand img {
  width: 100%;
  height: 100%;
  margin-left: 20px;
}
.nav-link,
.logo-heading {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
  color: #1a1c1a;
}

/*Breadcrumbs*/
.breadcrumbs {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #1a1c1a;
  font-size: 20px;
}
.home-link,
.menu-link {
  text-decoration: none;
  color: #6c757d;
}
.home-link:hover {
  color: #1a1c1a;
}
.menu-link:hover {
  color: #1a1c1a;
}

.header {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 800;
  color: #1a1c1a;
}

.items-row {
  text-align: center;
  margin: auto;
  background-color: #f9ede8;
}
.card-item {
  width: 95%;
}
.card-img-overlays,
.card-title {
  color: #f4ebe8;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: large;
  font-weight: 600;
}
/* Home page with grid */
.home-page-grid-image {
  width: 480px;
}

/*Footer*/
.site-footer {
  padding: 20px 0;
  background: linear-gradient(to top, #c4e9fa 0%, #f9dfd4 100%);
  padding: #c2e0ef;
}

.home-page-card-text {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 600;
}

/*Items Detail page*/
.item-detail-card {
  width: 70%;
  margin: auto;
}
.item-detail-title {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
h3 {
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* Contact Us Page */
.contact-container {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.address-header,
.feedback-header {
  font-weight: 800;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 20px;
}
